body{
    background: #02CEFF;
}

form{
    background: #fff;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 100px auto;
    box-shadow: 0 0 10px 6px #000000;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.datos{
    display: flex;
    flex-direction: column;  
    margin: 20px;
}

.interacciones{
    display: flex;
    justify-content: space-around;  
    margin-top: 40px;
}